@font-face {
  font-family: "iconfont"; /* Project id 4618131 */
  src: url('iconfont.woff2?t=1736315910924') format('woff2'),
       url('iconfont.woff?t=1736315910924') format('woff'),
       url('iconfont.ttf?t=1736315910924') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baohan:before {
  content: "\e602";
}

.icon-suo:before {
  content: "\e60b";
}

.icon-a-appround45:before {
  content: "\e936";
}

.icon-quanping:before {
  content: "\e8fa";
}

.icon-tuichuquanping:before {
  content: "\e8fb";
}

.icon-suoxiao:before {
  content: "\ec13";
}

.icon-sousuofangda:before {
  content: "\ec32";
}

.icon-juzhong:before {
  content: "\e67f";
}

.icon-daochutupian:before {
  content: "\e6f6";
}

.icon-icon_shangchuanxiazai_xiazai:before {
  content: "\e678";
}

.icon-icon_shangchuanxiazai_shangchuan:before {
  content: "\e6b3";
}

.icon-qiehuanfengge:before {
  content: "\e63e";
}

.icon-zuoduiqi:before {
  content: "\e70b";
}

.icon-youduiqi:before {
  content: "\e70c";
}

.icon-shangduiqi:before {
  content: "\e70d";
}

.icon-xiaduiqi:before {
  content: "\e70e";
}

.icon-Vertical:before {
  content: "\e600";
}

.icon-horizontally:before {
  content: "\e601";
}

